[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[user]
	name = NicoSv19
	email = 39229122+NicoSv19@users.noreply.github.com
